/*Police Shrikhand*/
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
/*Police Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap');


$violet:#9356DC;
$rose: #FF79DA;
$vert: #99EDD0;
$headers-font: 'Shrikhand', 'cursive';
$text-font: 'Roboto','sans-serif' ;
