@charset "UTF-8";
/*Police Shrikhand*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/*Police Roboto*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap");
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
footer section {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  background-color: rgb(72, 72, 72);
  color: white;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
}
footer section h5 {
  font-family: "Shrikhand", "cursive";
  font-size: 1.4rem;
  padding: 1.5rem 0;
}
footer section p {
  padding: 0.4rem 0;
}
footer section p i {
  padding-right: 0.8rem;
  width: 2rem;
}

header h1 {
  font-weight: bold;
  font-family: "Shrikhand", "cursive";
  font-size: 1.6rem;
  text-align: center;
  padding: 0.4rem;
  box-shadow: 0 0 5px 0 grey;
  position: relative;
}
header .location {
  display: flex;
  gap: 0.9rem;
  background-color: rgb(230, 230, 230);
  padding: 1rem;
  align-items: center;
  justify-content: center;
}
header .location p {
  font-weight: 900;
  color: rgb(48, 48, 48);
}
header .research {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1.5rem 3rem 1.5rem;
  background-color: rgba(230, 230, 230, 0.5);
  align-items: center;
}
header .research h2 {
  padding: 0.8rem 2rem;
  font-weight: 900;
  font-size: 1.4rem;
  text-align: center;
}
header .research p {
  padding-bottom: 1.5rem;
  font-weight: 100;
  font-size: 1.05rem;
  text-align: center;
}

header .logo-and-back-button {
  padding: 0.75rem;
  display: flex;
  align-items: center;
  background-color: rgb(230, 230, 230);
}
header .logo-and-back-button .logo {
  margin: auto;
}
header .logo-and-back-button h6 {
  font-size: 1.4rem;
  font-family: "Shrikhand", "cursive";
}

.food-button .checkbox-slider {
  transition: all 0.5s ease-out;
}
.food-button .checkbox-slider i {
  transform: rotate(-170deg);
  transition: all 0.5s ease-out;
}
.food-button:hover .checkbox-slider {
  transition: all 0.5s ease-out;
  margin-right: 0;
}
.food-button:hover i {
  transition: all 0.5s ease-out;
  transform: rotate(0deg);
}
.food-button:hover {
  cursor: pointer;
}

.description .fa-solid {
  background-image: linear-gradient(to top right, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition-duration: 120ms;
  transition-timing-function: ease-in;
}
.description .fa-solid:hover {
  opacity: 1;
  transition-duration: 120ms;
  transition-timing-function: ease-in;
  cursor: pointer;
}

.fa-heart:hover {
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
  box-shadow: 0px 15px 10px -13px rgb(62, 62, 62);
  transition: all 0.5s ease-out;
}

.bouncer-container {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: white;
  position: fixed;
  inset: 0;
  z-index: 2;
  align-items: center;
  justify-content: center;
  animation: nodisplay 200ms 3s forwards;
}
.bouncer-container .lettre {
  z-index: 2;
  animation: bouncer 0.5s cubic-bezier(0.19, 0.57, 0.3, 0.98) infinite alternate;
  font-family: "Shrikhand", "cursive";
  color: #9356DC;
  letter-spacing: 1rem;
  font-size: 2rem;
}

@keyframes bouncer {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100px);
  }
}
.lettre:nth-child(2) {
  animation-delay: 0.1s;
}

.lettre:nth-child(3) {
  animation-delay: 0.2s;
}

.lettre:nth-child(4) {
  animation-delay: 0.3s;
}

.lettre:nth-child(5) {
  animation-delay: 0.4s;
}

.lettre:nth-child(6) {
  animation-delay: 0.5s;
}

.lettre:nth-child(7) {
  animation-delay: 0.6s;
}

.lettre:nth-child(8) {
  animation-delay: 0.7s;
}

@keyframes nodisplay {
  100% {
    opacity: 0;
    z-index: -100;
    display: none;
  }
}
.desserts-container, .plats-container, .entrées-container {
  animation: progressive-menu 2s forwards;
}

.desserts-container {
  animation-delay: 1s;
}

.plats-container {
  animation-delay: 0.5s;
}

@keyframes progressive-menu {
  0% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.food-button {
  background-color: white;
  display: flex;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 0px rgb(215, 215, 215);
  overflow: hidden;
}
.food-button .food-name {
  display: flex;
  flex-direction: column;
  padding: 0.75rem 1rem;
  overflow: hidden;
}
.food-button .food-name p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.food-button .food-price {
  padding: 0.75rem 1rem;
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  color: rgb(70, 70, 70);
  font-weight: 700;
}

.checkbox-slider {
  display: grid;
  place-items: center;
  background-color: #99EDD0;
  margin-right: -4rem;
  width: 4rem;
  aspect-ratio: 1/1;
  border-radius: 0 1rem 1rem 0;
  flex-shrink: 0;
}
.checkbox-slider i {
  display: grid;
  place-items: center;
  background-color: white;
  color: #99EDD0;
  border-radius: 2rem;
  width: 2rem;
  aspect-ratio: 1/1;
  transform: rotate(-170deg);
}

button {
  padding: 0.5rem 1.1rem;
  min-height: 2.5rem;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 33px;
  box-shadow: 0px 15px 10px -13px grey;
  background: linear-gradient(to right bottom, #FF79DA, #9356DC);
  border: none;
  color: white;
}
button:hover {
  cursor: pointer;
}

.buying-button {
  display: flex;
  justify-content: center;
  margin: 1.75rem 0;
}

* {
  font-family: "Roboto", "sans-serif";
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  counter-reset: steps;
  /* On initialise le compteur à 0 */
}

.how-to {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1.5rem 4rem 1.5rem;
  min-width: 80%;
}
.how-to h3 {
  padding-top: 1.4rem;
  padding-bottom: 1.6rem;
  font-weight: 900;
  font-size: 1.4rem;
}
.how-to .how-to-instructions-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.how-to .how-to-instructions-container li:before {
  content: counter(steps);
  counter-increment: steps;
  font-size: 0.8rem;
  font-weight: 100;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  color: white;
  background-color: #9356DC;
  display: grid;
  place-items: center;
  margin-left: -2rem;
}
.how-to .instructions-cards {
  display: flex;
  gap: 1rem;
  background-color: rgba(230, 230, 230, 0.5);
  padding: 1.5rem;
  border-radius: 1rem;
  font-weight: 700;
  box-shadow: 0px 15px 10px -13px rgb(215, 215, 215);
}
.how-to .instructions-cards i {
  color: grey;
}
.how-to .last-instructions-card {
  display: flex;
  gap: 1rem;
  background-color: #f1e1ff;
  padding: 1.5rem;
  border-radius: 1rem;
  font-weight: 700;
  box-shadow: 0px 15px 10px -13px rgb(215, 215, 215);
}
.how-to .last-instructions-card i {
  color: #9356DC;
}

.restaurants {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  padding: 1.5rem;
  background-color: rgba(230, 230, 230, 0.5);
}
.restaurants h4 {
  padding-top: 1.8rem;
  padding-bottom: 1.6rem;
  font-weight: 900;
  font-size: 1.4rem;
}
.restaurants .card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 15px 10px -13px rgb(215, 215, 215);
  position: relative;
}
.restaurants .card:hover {
  cursor: pointer;
  transform: scale(1.003);
  box-shadow: 0px 15px 10px -13px rgb(200, 200, 200);
  transition: ease-in-out 80ms;
}
.restaurants .card .new {
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
  background-color: #99EDD0;
  color: #456d60;
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  display: grid;
  place-items: center;
  width: 4.5rem;
  height: 1.8rem;
  border-radius: 0.1rem;
}
.restaurants .card .illustration {
  object-fit: cover;
  object-position: center;
  max-height: 10rem;
  border-radius: 1rem 1rem 0 0;
}
.restaurants .card .description {
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  padding: 1rem;
  position: relative;
}
.restaurants .card .description .name {
  font-weight: 700;
}
.restaurants .card .description .fa-heart {
  position: absolute;
  right: 1rem;
  top: 1.4rem;
}

@media only screen and (min-width: 650px) and (max-width: 1000px) {
  .how-to {
    align-items: center;
    justify-content: space-around;
  }
}
@media only screen and (min-width: 650px) {
  .restaurants {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas: ". ." ". .";
  }
  .restaurants h4 {
    display: flex;
    width: 100%;
  }
}
@media only screen and (min-width: 1000px) {
  .how-to {
    padding: 1.5rem;
    min-width: 100%;
  }
  .how-to .how-to-instructions-container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
  }
  .how-to .instructions-cards, .how-to .last-instructions-card {
    width: 20rem;
  }
}
@media only screen and (min-width: 650px) {
  .restaurant-menu .restaurant-name {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .restaurant-menu .restaurant-name .fa-regular {
    position: absolute;
    right: -2rem;
    top: 0.5rem;
  }

  .restaurant-menu .restaurant-name .fa-solid {
    position: absolute;
    right: -2rem;
    top: 0.5rem;
  }

  .restaurant-menu {
    align-items: center;
  }

  .entrées-container, .plats-container, .desserts-container {
    width: 60vw;
  }

  .food-button {
    width: 100%;
    height: 4rem;
  }

  .desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 1000px) {
  .desktop-wrapper {
    display: flex;
    flex-direction: row;
  }

  .entrées-container, .plats-container, .desserts-container {
    width: 30vw;
    margin: 0rem 0.5rem;
  }
}
.background-img {
  margin-bottom: -2rem;
}

.restaurant-img {
  object-fit: cover;
  object-position: center;
  max-height: 25vh;
  width: 100%;
}

.restaurant-menu {
  position: relative;
  border-radius: 2rem 2rem 0 0;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(230, 230, 230);
  padding: 1rem;
}
.restaurant-menu h7 {
  font-size: 1.4rem;
  font-family: "Shrikhand", "cursive";
}
.restaurant-menu .restaurant-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}
.restaurant-menu .restaurant-name .fa-heart {
  position: absolute;
  right: 1rem;
  top: 1.4rem;
}
.restaurant-menu .restaurant-name .fa-solid {
  background-image: linear-gradient(to top right, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
}
.restaurant-menu .restaurant-name .fa-solid:hover {
  opacity: 1;
  transition-duration: 120ms;
  transition-timing-function: ease-in;
}
.restaurant-menu h8, .restaurant-menu h9, .restaurant-menu h10 {
  padding-top: 3rem;
  text-transform: uppercase;
}
.restaurant-menu h8:after, .restaurant-menu h9:after, .restaurant-menu h10:after {
  border-bottom: 3px solid #99EDD0;
  content: "";
  display: block;
  padding-top: 0.3rem;
  width: 2.5rem;
}
.restaurant-menu .bold-title {
  font-weight: 900;
}

.entrées-container, .plats-container, .desserts-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
