
//===================================================//
//animation checkbox slider quand on passe la souris=//
//où que ce soit sur le plat=========================//
//===================================================//

//checkbox cachée à droite des plats
.food-button{
    .checkbox-slider{
    //transition pour que le retour à la position initiale *après le hover* se fasse progressivement
        transition: all 0.5s ease-out;
        i{
            transform: rotate(-170deg);
            //transition pour que le retour à la position initiale *après le hover* se fasse progressivement
            transition: all 0.5s ease-out;
            }
        }
    //animation checkbox quand on passe la souris où que ce soit sur le plat
    &:hover .checkbox-slider{
        transition: all 0.5s ease-out;
        margin-right: 0;
    }
    &:hover i{
        transition: all 0.5s ease-out;
        transform: rotate(0deg);
    }
}

//====================================================//
//Animation fa-heart rose violet changement d'opacité=//
//====================================================//

.description .fa-solid{
    //background-clip text permet de sélectionner l'icone
    //uniquement pour appliquer background-image sur le coeur.
    //Color transparent nécessaire (sinon, c'est la couleur de
    //l'icone ou du texte qui apparait)
    background-image: linear-gradient(to top right, $rose, $violet);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity:0;
    transition-duration: 120ms;
    transition-timing-function: ease-in;    
&:hover{
        opacity: 1;
        transition-duration: 120ms;
        transition-timing-function: ease-in;                   
    }
}

//============================================//
//Animation boutons "commander" et "explorer"=//
//============================================//
//changement d'opacité sur hover et ombre de couleur plus foncée//
button:hover{
    opacity: 0.9;
    box-shadow: 0px 15px 10px -13px rgb(62, 62, 62);    
    transition: all 0.5s ease-out;
}

//============================================//
//Animation loading spinner ohmyfood==========//
//============================================//
.bouncer-container{
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: white;
    position: fixed;
    //inset pour couvrir l'intégralité de l'écran
    inset: 0;
    z-index:2;
    align-items: center;
    justify-content: center;
    //disparition
    animation: nodisplay 200ms 3s forwards;
    .lettre{
    z-index:2;
    animation: bouncer 0.5s cubic-bezier(.19,.57,.3,.98) infinite alternate;
    //gradient appliqué au texte de l'écran de chargement
    font-family: $headers-font;
    color: $violet;
    letter-spacing: 1rem;
    font-size: 2rem;
    }
}
@keyframes bouncer{
    from {transform: translateY(0)
    }
    to {transform: translateY(-100px);
    }
}
.lettre:nth-child(2){
    animation-delay: 0.1s;
}
.lettre:nth-child(3){
    animation-delay: 0.2s;
}
.lettre:nth-child(4){
    animation-delay: 0.3s;
}
.lettre:nth-child(5){
    animation-delay: 0.4s;
}
.lettre:nth-child(6){
    animation-delay: 0.5s;
}
.lettre:nth-child(7){
    animation-delay: 0.6s;
}
.lettre:nth-child(8){
    animation-delay: 0.7s;
}
//fin de chargement:
@keyframes nodisplay{
    100%{
        opacity:0;
        z-index:-100;
        display:none;
      }
}

//=================================================//
//Animation chargement progressif des food-buttons=//
//=================================================//
.restaurant-menu .food-button{
    animation: progressive-menu 2s forwards;
}
.food-button:nth-child(2){
    animation-delay: 0.1s;
}
.food-button:nth-child(3){
    animation-delay: 0.2s;
}
.food-button:nth-child(4){
    animation-delay: 0.3s;
}
.food-button:nth-child(5){
    animation-delay: 0.4s;
}
.food-button:nth-child(6){
    animation-delay: 0.5s;
}
.food-button:nth-child(7){
    animation-delay: 0.6s;
}
.food-buttone:nth-child(8){
    animation-delay: 0.7s;
}
@keyframes progressive-menu{
    0%{
        transform: translateY(50%);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

