.background-img{
    //marge négative pour attirer la section restaurant-menu au-dessus de l'image
    margin-bottom: -2rem;
  

}
//positionnement et dimensionnement de l'image de couverture
.restaurant-img{
    object-fit: cover;
    object-position: center;
    max-height: 25vh;
    width: 100%;
}

.restaurant-menu {
    //position relative pour placer le main au-dessus de l'img du header
    position: relative;
    border-radius: 2rem 2rem 0 0;
    gap: 1rem;

    //affichage en colonnes des entrées plats et desserts.
    display: flex;
    flex-direction: column;

    background-color: rgb(230, 230, 230);


    padding: 1rem;

    h7{
        font-size: 1.4rem;
        font-family: $headers-font;
    }

    .restaurant-name{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 0.5rem;

        //animation du coeur comme sur la page d'accueil

        .fa-heart{
            //position des deux coeurs l'un sur l'autre à droite
            position: absolute;
            right:1rem;
            top:1.4rem;
            

        }
        .fa-solid{
            //background-clip text permet de sélectionner l'icone uniquement pour appliquer background-image sur le coeur. Color transparent nécessaire (sinon, c'est la couleur de l'icone ou du texte qui apparait)
            background-image: linear-gradient(to top right, $rose, $violet);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            opacity:0;
            
            //l'animation se fait par un changement d'opacité quand on hover l'icone coeur (l'icone pleine vaut 0 par défaut, et passe à 1 quand on hover avec la souris, pour apparaitre
            &:hover{
                opacity: 1;
                transition-duration: 120ms;
                transition-timing-function: ease-in;                   
            }
        }   
    }
    h8,h9,h10{
        //Entrées, plats, desserts en lettres capitale et pseudo-élément after pour afficher une border bottom partielle
        padding-top: 1rem;
        text-transform:uppercase;
    }
    h8:after, h9:after, h10:after {
        border-bottom: 3px solid $vert;
        content: '';
        display: block;
        padding-top: 0.3rem;
        width: 2.5rem;
    }
    .bold-title{
        font-weight: 900;
    }
}
//container qui sert à décaler les animations de plats/dessert/entrées
.entrées-container, .plats-container, .desserts-container{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    opacity:0;
}



