@media screen and (min-width: 800px){
    .how-to{
        padding: 1.5rem ;
        min-width: 100%;
        border: 3px red solid;

    .how-to-instructions-container{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        }
    } 
//grid deux cards par rangée et trois colonnes (la première, fine, fait office
//de séparation entre le h4 et la grid.
.restaurants {
    h4{
        display: flex;
        width: 100%;
    }
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.3fr 1fr 1fr; 
    gap: 10px 10px; 
    grid-template-areas: 
      ". ."
      ". ."; 
    }
}